body {
    background-color: #d7d4c9;
}
#page-content {
    margin-left: 20px;
    max-width: 850px;
}
h1 {
    font-size: 2em !important;
    margin-bottom: 0;
}
#logo {
    margin: 15px;
    margin-right: 30px;
}
.menu_bar {
    background-color: rgb(38, 68, 73);
    height: 3em;
    margin-bottom: 10px; /** spacing below menu, before page content **/
}
.btn-menu{
    --bs-btn-color:#fff;
    --bs-btn-bg:#777469;
    --bs-btn-border-color:#777469;
    --bs-btn-hover-color:#fff;
    --bs-btn-hover-bg:#575449;
    --bs-btn-hover-border-color:#575449;
    --bs-btn-active-color:#8ac2d4;
    --bs-btn-active-bg:#474439;
    --bs-btn-active-border-color:#474439;
    --bs-btn-padding-y:0.25rem;
    --bs-btn-font-size:0.875rem;
    --bs-btn-border-radius:var(--bs-border-radius-sm)
}
.date-picker {
    min-width: 180px;
}
.gig {
    background-color: #fff;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 1px;
    margin-bottom: 20px;
    width: 600px;
    border-radius: 0.375rem;
}
.login-field {
    margin-bottom: 10px;
}
a {
    color: #1d7d9c;
    text-decoration: underline;
}
* {
    font-family: 'Gill Sans';
}