<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About Giga</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <h1>{% include 'logo_link.html' %}About Giga</h1>
        {% include 'menu_bar.html' %}
        <div id="page-content">
            <p>Let's learn all about Giga!</p>
            <p>Giga isn't just a website; it's your personal concert concierge with a backstage
            pass to the best live music around. Forget about FOMO - Giga's got you covered.
            Discover a vibrant universe of bands, from up-and-coming sensations to your
            seasoned favourites. Dive into a city's vibrant music scene or venture into
            uncharted musical territories. Whether you're a dedicated genre aficionado or
            just looking to shake things up, Giga is your go-to passport to a world of live
            music.</p>
            
            <p>But that's not all. Giga is rewriting the rules of the concert game. It's not
            just about finding gigs, it's being able to experience them all. We're
            talking free tickets, people. Yep, you read that right. No more shelling out big
            bucks for your fave bands. Giga is here to make live music accessible and
            affordable for everyone. From intimate club shows that feel like you've stumbled
            across a secret to massive arena tours that will blow your mind - we've got you
            covered. With Giga, you can sample new genres, discover up-and-coming talent or
            revisit the magic of your musical heroes - all without spending a penny on tickets.</p>
            
            <p>So, what are you waiting for? Join the Giga revolution and unlock a world of
            endless possibilities. Discover new sounds, score free tickets, and create
            unforgettable memories. It's time to turn up the volume on your
            life.</p>
        </div>
    </body>
</html>
