<!DOCTYPE html>
<html>
    <head>
        <title>About Giga</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <p id="element-ad4752a"><img src="/static/images/logo.bmp" width="100px" />About Giga</p>
        {% include 'menu_bar.html' %}
        <p id="element-2d44b67">Let's learn all about Giga!</p>
        <p id="element-97ba306">Giga isn't just a website; it's your personal concert concierge with a backstage
        pass to the best live music around. Forget about FOMO - Giga's got you covered.
        Discover a vibrant universe of bands, from up-and-coming sensations to your
        seasoned favourites. Dive into a city's vibrant music scene or venture into
        uncharted musical territories. Whether you're a dedicated genrer aficionado or
        just looking to shake things up, Giga is your go-to passport to a world of live
        music.</p>
        
        <p id="element-7819919">But that's not all. Giga is rewriting the rules of the concert game. It's not
        just about finding gigs, it's being able to experience them all. We're
        talking free tickets, people. Yep, you read that right. No more shelling out big
        bucks for your fave bands. Gig is here to make live music accessible and
        affordable for everyone. From intimate club shows that feel like you've stumbled
        across a secret to massive arena tours that will blow your mind - we've got you
        covered. With Giga, you can sample new genrers, discover up-and-coming talent or
        revisit the magic of your musical heroes - all without spending a penny on tickets.</p>
        
        <p id="element-7616f89">So, what are you waiting for? Join the Giga revolution and unlock a world of
        endless possibilties. Discover new sounds, score free tickets, and create
        unforgettable memories. It's time to turn up the volume on your life.</p>
    </body>
</html>
