<!DOCTYPE html>
<html>
    <head>
        <title>Account</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <p id="element-1cfd0cf"><img src="/static/images/logo.bmp" width="100px" />Account</p>
        {% include 'menu_bar.html' %}
        {% for booking_detail in booking_details %}
        <div>
            <p class="element-35cbe6d">{{ booking_detail.ticket_count }} for {{ booking_detail.gig.band }} @ {{ booking_detail.gig.venue }}, {{ booking_detail.gig.location }} on {{ booking_detail.gig.datetime_pretty() }}</p>
        </div>
        {% endfor %}
    </body>
</html>
