<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Giga</title>
    </head>
    <body>
        <p>Welcome to Giga</p>
        {% include 'menu_bar.html' %}
        <p>Here you'll find a highly-curated list of gigs from around the UK,
        from some of the most amazing bands on the planet!</p>
        <p>This is your one-stop-stop for finding all about the gigs that are
        available and booking tickets to gigs for free.</p>
        <p>Want to know more <a href="/about">about Giga</a>?</p>
    </body>
</html>
