<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Giga</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <p id="element-734ab6c"><img src="/static/images/logo.bmp" width="100px" />Welcome to Giga</p>
        {% include 'menu_bar.html' %}
        <p id="element-cc3d606">Here you'll find a highly-curated list of gigs from around the UK,
        from some of the most amazing bands on the planet!</p>
        <p id="element-1d89e36">This is your one-stop-shop for finding all about the gigs that are
        available and booking tickets to gigs for free.</p>
    </body>
</html>
