<!DOCTYPE html>
<html>
    <head>
        <title>Terms & Conditions</title>
    </head>
    <body>
        <p>Terms & Conditions</p>
        {% include 'menu_bar.html' %}
        <p>By interacting with this site in any way, you accept:</p>
        <ul>
            <li>Any storage of information like passwords is potentially insecure and so you do so at your own risk</li>
            <li>All content is property of Makers Academy</li>
            <li>That all image content is AI generated</li>
            <li>Everything on here is fake data</li>
            <li>No money exchanges hands on this site</li>
            <li>Any gigs you book for free are unlikely to grant you entrance to that gig</li>
        </ul>
    </body>
</html>
